<template>
  <div>
    <nav aria-label="You are here:" role="navigation">
      <breadcrumb-menu :menu="menu" />
    </nav>
    <h3 class="page-title">
      <a v-if="isSecondaryPage" href="/employees">
        <i
          class="i-chevron-left"
          :style="{ color: '#cacaca', fontSize: '0.7em' }"
        />
      </a>
      <span>{{ rootPathName }}</span>
    </h3>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import BreadcrumbMenu from '@/components/Navbar/BreadcrumbMenu/BreadcrumbMenu.vue'

export default Vue.extend({
  name: 'Breadcrumb',
  components: { BreadcrumbMenu },
  props: {
    rootPathName: {
      type: String,
      default: ''
    },
    menu: {
      type: Array,
      default: () => []
    },
    isSecondaryPage: {
      type: Boolean,
      default: false
    }
  }
})
</script>

<style>
.i-chevron-left:hover {
  color: #13bc74;
}

.page-title {
  font-weight: 200;
  font-size: 1.9375rem;
  margin-bottom: 0.5rem;
  position: absolute;
}
</style>
