<template>
  <b-container fluid class="p-3">
    <TableHeader v-model="searchText" @active="setActiveTab" />
    <Table
      :items="filterItems"
      :table-fields="tableFields"
      :total-rows="totalRows"
      :active-tab="activeTab"
      :per-page="perPage"
      :current-page="currentPage"
      @getTags="getTags"
      @viewEmployee="onView"
      @editEmployee="onEdit"
      @deactivateEmployee="onDeactivate"
      @activateEmployee="onActivate"
      @pageChange="onPageChange"
    />
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'
import Table from './Table.vue'
import TableHeader from './TableHeader.vue'
import { Employee } from '@/types/employee'

export default Vue.extend<any, any, any, any>({
  name: 'EmployeeView',
  components: { TableHeader, Table },
  props: {
    tableFields: {
      type: Array,
      required: true,
      default: () => [] as string[]
    },
    items: {
      type: Array as () => Employee[],
      required: true,
      default: () => [] as Employee[]
    },
    value: {
      type: String,
      default: ''
    },
    totalRows: {
      type: Number,
      default: 0
    },
    perPage: {
      type: Number,
      default: 1
    },
    currentPage: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      activeTab: ''
    }
  },
  computed: {
    filterItems() {
      return this.items.filter((el: any) =>
        this.activeTab === 'Active'
          ? el.isActive === true
          : this.activeTab === 'Archived' && el.isActive === false
      )
    },
    searchText: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  },
  mounted() {
    this.setActiveTab('Active')
  },
  methods: {
    setActiveTab(tab: any) {
      this.activeTab = tab
    },
    onView(name: string, id: any) {
      this.$emit('viewEmployee', name, id)
    },
    onEdit(name: string, id: any) {
      this.$emit('editEmployee', name, id)
    },
    onDeactivate(id: any) {
      this.$emit('deactivateEmployee', id)
    },
    onActivate(id: any) {
      this.$emit('activateEmployee', id)
    },
    onPageChange(newPage: number) {
      this.$emit('pageChange', newPage)
    },
    getTags(tags: string) {
      return (JSON.parse(tags || '[]') as string[]).join(',')
    }
  }
})
</script>
