<template>
  <div class="header">
    <b-container>
      <b-row>
        <Tabs @active="setActiveTab" />
        <FilterBar v-model="searchText" />
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Tabs from './Tabs.vue'
import FilterBar from './FilterBar.vue'

export default Vue.extend<any, any, any, any>({
  name: 'TableHeader',
  components: { Tabs, FilterBar },
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    searchText: {
      get() {
        return this.value
      },
      set(val: string) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    setActiveTab(tab: any) {
      this.$emit('active', tab)
    }
  }
})
</script>

<style>
.header {
  display: inline-block;
}
</style>
