<template>
  <div class="tabs">
    <b-tabs>
      <b-tab vertical title="Active" @click="setActive('Active')"> </b-tab>
      <b-tab title="Archived" @click="setActive('Archived')"> </b-tab>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Tabs',
  methods: {
    setActive(title: any) {
      this.$emit('active', title)
    }
  }
})
</script>

<style>
.tabs,
.nav-tabs,
.nav-tabs > li:active,
.tabs ul,
.tabs li {
  border-style: none;
  background-color: #fff;
  color: #898a89;
  border-radius: 8px 0 0 0;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.tabs {
  width: 180px;
  vertical-align: top;
}

.tabs .nav-link:not(active) {
  color: #898a89;
}

.tabs .nav-link.active {
  color: #13bc74;
  border: 0;
  border-bottom: 1px solid #13bc74;
  border-radius: 8px 0 0 0;
}

.tabs,
.nav-tabs a:hover {
  color: #13bc74;
  outline-width: 0 !important;
}

.tabs,
.nav-link:focus {
  outline: 0;
}
</style>
