// Custom Bootstrap variable overrides go first

.saved-alert {
  background-color: #13bc74 !important;
  color: #fff;
  height: 80px;
  /* position: absolute;
  top: 10px;
  right: 5px; */
  padding: 25px;
  margin-top: 10px;
}

.g-container {
  width: calc(100% - 240px);
  position: absolute;
  right: 0;
}

$enable-rounded: false;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
