<template>
  <div class="view">
    <employee-navbar
      :page-title="pageTitle"
      :breadcrumb-menu="breadcrumbMenu"
      :is-secondary-page="isSecondaryPage"
      :page-type="pageType"
      @goTo="goTo"
    />
    <EmployeeView
      v-model="searchText"
      :table-fields="tableFields"
      :items="employees"
      :total-rows="paginationData.total"
      :per-page="paginationData.perPage"
      :current-page="paginationData.currentPage"
      @pageChange="onPageChange"
      @viewEmployee="goTo"
      @editEmployee="goTo"
      @deactivateEmployee="onDeactivate"
      @activateEmployee="onActivate"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator'
import { provide, consume } from 'provide-consume-decorator'
import { getModule } from 'vuex-module-decorators'
import { Dictionary } from 'vue-router/types/router'
import EmployeeNavbar from '@/components/Employee/EmployeeNavbar.vue'
import EmployeeView from '@/components/Employee/EmployeeViewer/EmployeeView.vue'
import { Employee } from '@/types/employee'
import EmployeeStore from '@/store/modules/employee'

interface Store {
  employee: EmployeeStore
}

@Component({
  name: 'Employees',
  mixins: [{ methods: {} }],
  components: { EmployeeNavbar, EmployeeView },
  head() {
    return {
      title: `All Employees`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'View all employees'
        }
      ]
    }
  }
})
@provide({
  store(): Store {
    return {
      employee: getModule(EmployeeStore, this.$store)
    }
  }
})
export default class Testing extends Vue {
  @consume('store') store!: Store

  searchText = ''
  onSearchTimeout: NodeJS.Timeout | null = null

  private tableFields = [
    'avatar',
    'displayName',
    'lastName',
    'companyEmail',
    'tags',
    'birthdate',
    'startDate',
    'actions'
  ]

  private pageTitle = 'View & Manage Employees'

  private pageType = 'Index'

  private thirdLevelBreadcrumb = {
    cursor: 'default',
    'text-decoration': 'none',
    color: '#cacaca'
  }

  private breadcrumbMenu = [
    {
      text: 'Employees',
      style: this.thirdLevelBreadcrumb
    },
    {
      text: 'View & Manage',
      style: this.thirdLevelBreadcrumb
    }
  ]

  private isSecondaryPage = false

  get paginationData() {
    return this.store.employee.paginationData
  }

  get employees(): Employee[] {
    return this.store.employee.employees
  }

  mounted() {
    this.store.employee.getEmployees()
  }

  @Watch('searchText')
  onSearchTextChanged(newVal: string) {
    if (this.onSearchTimeout) {
      global.clearTimeout(this.onSearchTimeout)
    }

    this.onSearchTimeout = global.setTimeout(
      (text: string) => {
        const searchText = text
        const shouldResetSearch = searchText.length === 0
        if (searchText.length >= 2 || shouldResetSearch) {
          this.onFilter(text)
        }
      },
      500,
      newVal
    )
  }

  onPageChange(newPage: number) {
    this.store.employee.getEmployees({
      filterText: this.searchText,
      currentPage: newPage
    })
  }

  onFilter(filterText: string, currentPage?: number, pageSize?: number) {
    this.store.employee.getEmployees({ filterText, currentPage, pageSize })
  }

  onDeactivate(id: string) {
    this.store.employee.deactivateEmployee(id)
  }

  onActivate(id: string) {
    this.store.employee.activateEmployee(id)
  }

  goTo(name: string, id?: string) {
    const params = {} as Dictionary<string>
    if (id) {
      params.id = id
    }
    this.$router.push({ name, params })
  }
}
</script>
<style>
body {
  background-color: #eef2f3;
}
</style>
