<template>
  <ul class="breadcrumbs">
    <li v-for="menuItem in menu" :key="menuItem.text">
      <a :style="menuItem.style" @click="menuItem.func()">{{
        menuItem.text
      }}</a>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Breadcrumb',
  props: {
    menu: {
      type: Array,
      default: () => []
    }
  }
})
</script>

<style>
.breadcrumbs {
  margin: 0em;
  padding: 0em;
  color: #cacaca;
  list-style: none;
}

.breadcrumbs::before,
.breadcrumbs::after {
  display: table;
  content: ' ';
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-order: 1;
  order: 1;
}

.breadcrumbs::after {
  clear: both;
}

.breadcrumbs li {
  float: left;
  font-size: 0.6875rem;
  color: #4f4f4f;
  cursor: default;
  text-transform: uppercase;
}

.breadcrumbs li:not(:last-child)::after {
  position: relative;
  margin: 0 0.75rem;
  opacity: 1;
  content: '/';
  color: #cacaca;
}

.breadcrumbs a {
  color: #13bc74;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .disabled {
  color: #cacaca;
  cursor: not-allowed;
}

.breadcrumbs li {
  font-size: 0.88em;
  text-transform: capitalize;
}

.breadcrumbs li a {
  color: #cacaca;
}
</style>
